.footer {
  background: rgba(98, 20, 168, 1);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
}

@media (max-width: 720px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .socialMedia,
  .enterprise {
    margin-bottom: 20px;
  }
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialMediaIcons {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.enterprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts h3 {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: inherit;
}
