.inputStyle {
  outline: none;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  width: 50vw;
  height: 30px;
  background-color: white;
}

.inputStyle::placeholder {
  font-size: 12px;
}

.inputContainer{
  height: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.inputIcon{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 10vw;
  height: 30px;
}

@media (min-width: 960px) {
  .inputStyle {
    width: 20vw;
    height: 30px;
  }
  
  .inputContainer:first-child{
    margin-top: 90px;
  }

  .inputIcon{
    background-color: white;
    width: 4vw;
  }

  .inputStyle{
    background-color: white;
  }
  
}
