.Nav {
  height: 80px;
  width: 100%;
  background-color: #6214a8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  margin-left: 4rem;
  display: flex;
  font-size: 30px;
}
.logoContainer:hover {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
  color: white;
  font-weight: 700;
}

.logoImg {
  color: white;
  font-size: 2.5rem;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  height: 100%;
  margin-right: 2rem;
}

.navMenu a {
  height: 100%;
  display: flex;

  color: white;
  align-items: center;
  justify-content: center;
  width: 140px;
}
.navMenu > a:hover {
  border-bottom: 5px solid white;
  cursor: pointer;
}

.sideMenu {
  position: absolute;
  top: 80px;
  width: 100%;
  left: -100%;
  transition: all 0.3s ease-out;
  z-index: 9999;
}

.sideMenu > ul {
  background-color: #7f25ce;
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
}

.sideMenu li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.sideMenu li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.btnContainer {
  background-color: #7f25ce;
  position: absolute;
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 35vh;
  transition: all 0.2s linear;
}

.btnContainerActive {
  top: calc(35vh + 300px);
}

.sideMenuBtn {
  margin-top: 1rem;
  font-size: 1.2rem;
  height: 60px;
  width: 80%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.categoriesIcon {
  align-self: center;
  position: absolute;
  right: 40px;
  transition: all 0.1s linear;
}

.categoriesIconActive {
  transform: rotate(90deg);
}

.categoriesMenu {
  top: 35vh;
  position: absolute;
  background-color: #6214a8;
  width: 100%;
  z-index: -999;
  transition: all 0.3s linear;
}

.categoriesMenuList > li {
  height: 50px;
}

.sideMenuBtn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.configMenu {
  position: absolute;
  width: 150px;
  top: -50px;
  right: 0px;
  background-color: #6214a8;
  transition: 0.2s all ease-out;
  z-index: -99;
}
.configMenuActive {
  top: 81px;
}
.configMenuList {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.configMenuItem {
  margin: 0.5rem 0;
}
.configMenuItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbarBtn {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}

.navbarBtnText {
  color: #7f25ce;
  font-size: 2.5rem;
  margin-bottom: 4px;
}

.navbarBtn:hover {
  cursor: pointer;
}

.hamburguerActive {
  transform: rotate(-90deg);
}

.menuActive {
  left: 0;
}

@media screen and (max-width: 768px) {
  .navMenu {
    display: none;
  }

  .hamburguer {
    display: block;
  }

  .logoContainer {
    margin-left: 2rem;
  }
  .navbarContainer {
    width: 100%;
  }

  .logoImg {
    font-size: 2rem;
  }
  .logo {
    font-size: 1.5rem;
  }
}

@media only screen and (orientation: landscape) {
  .sideMenu > ul {
    height: 100vh;
  }

  .sideMenuItem {
    height: 150px;
  }
  .btnContainer {
    top: 100vh;
  }

  .btnContainerActive {
    top: calc(100vh + 300px);
  }

  .categoriesMenu {
    top: 100vh;
  }

  .categoriesMenu {
    height: 1px;
  }

  .categoriesMenuActive {
    height: inherit;
  }
}
