.userComment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userIdentity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  margin-right: 15px;
}

.comments textarea {
  resize: none;
}

.avatarContainer{
  position: relative;
  width: 100px;
  height: 100px;
}

.avatarInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.avatarInfo span{
  text-align: center;
}
.avatar{
  border-radius: 50%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 40%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 760px) {
  .userIdentity {
    font-size: 0.8em;
  }

  .comments textarea {
    width: 330px;
    height: 100px;
  }

 

  .avatarInfo span{
    font-size: 0.8em;
  }
}

@media (max-width:  580px) {
  .comments textarea {
    width: 200px;
    height: 80px;
    font-size: 0.8em;
    margin-left: 10px;
  }

  .avatarContainer{
    width: 70px;
    height: 70px;
  }
  
  .avatarInfo{

    width: 90px;
  }
}
