.inputStyle {
  background: rgba(65, 45, 75, 0.5);
  border: 1px solid rgba(65, 45, 75, 0.5);
  border-radius: 10px;
  font-size: 12px;
  color: #e8ded2;
  padding-left: 5px;
  margin-bottom: 10px;
  width: 60vw;
  height: 20px;
}

.inputStyle::placeholder {
  color: #e8ded2;
  font-size: 12px;
  padding-left: 5px;
}

@media (min-width: 960px) {
  .inputStyle {
    background-color: #412d4b;
    color: #e8ded2;
    width: 25vw;
    height: 30px;
  }

  .inputStyle:first-child {
    margin-top: 90px;
  }

  .inputStyle::placeholder {
    color: #e8ded2;
  }
}
